.content-banner2{color: #ffffff;
    background-image: url('your-image-url-here.jpg');
    
    min-height:300px;
    height:100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top: 125px;
    }
    
    .content-banner2:before{position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(57,49,49,0.7);
    top:0;
    left: 0;
    z-index: 1;}
    
    .content-banner2 .first-title{font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin:0px 0px 12px;}
    
    .content-banner2 .banner-des{font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;}
    
    .banner-btn{padding:0 34px;
    z-index: 1;
    margin:30px auto 25px;
    line-height: 56px;
    position: relative;
    border-radius: 6px;
    height:56px;
    font-size: 16px;
    background-color: #fea540;
    display: inline-block;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    
    }
    
    .banner-btn:hover{text-decoration: none;
    color:#fea540;
    background-color:white; }


    .first-title{
        text-transform: capitalize;
    }
    
    section{background-color: white;
    padding: 4rem 0rem 4rem;
    }
    /* section:nth-of-type(even){background-color: #fe4066;
    color: white;} */