

.dummy{
    padding: 14px;
    box-shadow: rgba(2, 5, 5, 0.09) 0px 1px 5px 1px;
}

.dummy img{
    aspect-ratio: 4/4;
}
.head_001{
    font-size: 18px;
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 12px;
}

.how_work_p{
    padding: 0px 10px !important;
}